<header>
        <nav>
            <ul class="navi">
                <li class="menu"><a class=menua href="./">Home</a></li>
                <li class="menu"><a class=menua href="./login">Login</a></li>
                <li class="menu"><a class=menua href="./register">Register</a></li>
                <li class="menu"><a class=menua href="./forum">Forum</a></li>
                <li class="menu"><a class=menua href="./location">Locations</a></li>
            </ul>
        </nav>
</header>
<body>
    <h1>Forum</h1>
</body>
