<header>
        <nav>
            <ul class="navi">
                <li class="menu"><a class=menua href="./login">Login</a></li>
                <li class="menu"><a class=menua href="./register">Register</a></li>
            </ul>
        </nav>
</header>
<body>
    <h1>Login</h1>
</body>